* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background: linear-gradient(white, #00adb5, white);
    color: black;
}

nav {
    background: black ;
    font-size: 18px;
}

h1, h2 {
    font-weight: bold;
}

header {
    margin: 50px;
}

footer {
    margin-top: auto;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: #252926;
    color: whitesmoke;
    background: black;
}

.btn {
    color: white;
    font-weight: bold;
    border: 1px solid #20639b;
    border-radius: 20px;
    background: #0d98ba;
}

.btn:hover {
    color: black;
}

.code {
    height: 35px;
    width: 35px;
}

.nav:hover {
    color: #00adb5;
}

.navbar:hover {
    color: white;

}

.bodyImage {
    text-align: center;
}

.header {
    font-weight: bold;
}

.frontEnd {
    width: 60%;
    height: 250px;
    object-fit: contain;
}

.signUpHere {
    text-decoration: none;
    color:black;
    margin-left: 20px;
}

.signUpHere:hover {
    color: white;
}

.form-group {
    margin: 20px;
}

.card {
    border: 1px solid grey;
}

.card-footer {
    background: #3a3b3c;
}

#CA {
    font-size: 15px;
}

#copyright {
    font-size: 13px;
}

#registerForm {
    border: 2px solid grey;
    border-radius: 30px;
    box-shadow: 30px 10px teal;
}

#loginButton {
    margin-left: 20px;
}